/********************************************
// The Buttons
********************************************/


#basic_slideshow {}
#basic_slideshow .list {}
 
#basic_slideshow .item {
background: white;
}
#basic_slideshow .item .image {}
#basic_slideshow .item .meta {
  position: absolute;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 30%;
  color: white;
}
#basic_slideshow .item .meta h3, #basic_slideshow .item .meta h3 a{}


#basic_slideshow .item .meta-back {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 40%;
  background: black;
  opacity: 0.7;
}


#basic_slideshow img, .widget img {}

#basic_slideshow .video-slide {}
#basic_slideshow .video-slide object embed {}

#basic_slideshow h3 {}
#basic_slideshow h3 a:hover, div#slideshow h3 a:active {	}
#basic_slideshow p {}

/********************************************
// The Buttons
********************************************/

#basic_slideshow .slider-nav span{
  width: 30px;
  height: 50px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}
#basic_slideshow .slider-nav .left{
  background: url(images/left-arrow.png);
}
#basic_slideshow .slider-nav .right{
  background: url(images/right-arrow.png);
}


/********************************************
// The Pager
********************************************/

#basic_slideshow #slideshow_pager{}
#basic_slideshow #slideshow_pager a{}
#basic_slideshow #slideshow_pager a.activeSlide{}
#basic_slideshow #slideshow_pager a:hover{}

