/********************************************
// Slide Formatting
********************************************/

#basic_slideshow {}
 
#basic_slideshow .slide {
background: white;
}
#basic_slideshow .slide .image {}
#basic_slideshow .slide .meta {
  position: absolute;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 30%;
  color: white;
}
#basic_slideshow .slide .meta h3, #basic_slideshow .slide .meta h3 a{}


#basic_slideshow .slide .meta-back {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 40%;
  background: black;
  opacity: 0.7;
}


/********************************************
// Tabbed Formatting
********************************************/

#basic_tabshow {}
 
#basic_tabshow .tab-content {
background: white;
}
#basic_tabshow .tab-content .image {}
#basic_tabshow .tab-content .meta {
  position: absolute;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 30%;
  color: white;
}
#basic_tabshow .tab-content .meta h3, #basic_slideshow .slide .meta h3 a{}


#basic_tabshow .tab-content .meta-back {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 80%;
  height: 40%;
  min-height: 150px;
  background: black;
  opacity: 0.7;
}

/********************************************
// The Buttons
********************************************/

#basic_slideshow .slider-nav span{
  width: 30px;
  height: 50px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}
#basic_slideshow .slider-nav .left{
  background: url(images/left-arrow.png);
}
#basic_slideshow .slider-nav .right{
  background: url(images/right-arrow.png);
}



